# misc stuff
/challenge_MLE.zip

# virtualenvs
/.venv
/env

# python packaging stuff
__pycache__/
*.egg-info/
/build

# jupyter stuff
.ipynb_checkpoints/

# editor stuff
/.vimrc
/tags*

# testing stuff
/.coverage
/reports/
